body {
  padding: 2em;
  background-color: #eeeeee;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.flexbox-container {
  display: flex;
  align-items: center;
  padding: 5em;
}

.left-side {
  flex: 1;
}

.titleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subTitle {
  margin-bottom: 2em;
  background-color: #292b2c;
  color: #f7f7f7;
  padding: 0.8em;
  border-radius: 10px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 1em;
}

.sizeButton {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4285f4;
  color: white;
  font-size: 1.2rem;
}

.sizeButton:hover {
  background-color: #0d47a1;
}

.resetButton {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2bbbad;
  color: white;
  font-size: 1.2rem;
}

.resetButton:hover {
  background-color: #00695c;
}

.right-side {
  flex: 1;
}

.container-outline {
  border-radius: 25px;
  border: 4px solid #4b515d;
}

.container {
  width: 500px;
  height: 500px;
  display: grid;
  margin: 0 auto;
  padding: 2em;
}
